.hellomsg {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hellomsg div {
  font-size: 16px;
  color: #333;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  
}

.hellomsg .text-2 {
  font-weight: bold;
  font-size: 18px;
  color: #007bff;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}



.punch-in img, .punch-out img {
  vertical-align: top;
  margin-right: 10px;
}

.date {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: white;
}

.date .text-4 {
  font-weight: bold;
}
















.leave-data
{width:100%;
  color: #00ff22;
}


.employee-data
{
  width:100%;
}

.bonus-data
{
  width:110%;

}
.benefits-data
{
  width:100%;

}
.deductions-data
{
  width:100%;
}

.departments-data{
  width:100%;
}
.payroll-data
{
  width:100%; 
}

.attendance-data
{
  width:80%;
}
/* Style for the input field */
.input-field {
  padding: 10px; /* Padding */
  border: 2px solid #ccc; /* Border color */
  border-radius: 100px; /* Rounded corners */
  font-size: 16px; /* Font size */
  margin-right: 10px; /* Margin on the right side */
}

/* Style for the search button */
.search-button {
  background-color: #0a1723; /* Blue background color */
  border: none; /* No border */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding */
  
  text-align: center; /* Center text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Display as inline block */
  font-size: 14px; /* Font size */
  
  transition-duration: 0.4s; /* Transition effect duration */
  cursor: pointer; /* Cursor on hover */
  border-radius: 5px; /* Rounded corners */
}

/* Change background color on hover */
.search-button:hover {
  background-color: #92b300; /* Darker blue background color */
}

.present-count {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  padding: 10px; /* Padding */
  
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 10px; /* Bottom margin */
}

.absent-count {
  background-color: #f44336; /* Red background */
  color: white; /* White text */
  padding: 10px; /* Padding */
 font-size: medium;
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 10px; /* Bottom margin */
}

.attendance-info {
  display: flex;
  flex-shrink: 0; /* Prevent flex items from shrinking */
}

.present-count {
  margin-right: 20px; /* Adjust margin as needed */
}

.absent-count {
  margin-left: 240px; /* Adjust margin as needed */
}

.reset-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px; /* Adjust the padding to make the button smaller */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; /* Adjust the font size to make the button smaller */
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px; /* Adjust the border radius for a smaller button */
  transition-duration: 0.4s;
}

.reset-button:hover {
  background-color: #a06845; /* Darker green */
}


























:root {
  --white: white;
  --mainclr: #212143;
  --light: whitesmoke;
  --black: black;
  --dark: #e0e0e0;
  --light-black: rgba(10, 10, 10, .8);
  --trans: rgba(245, 245, 245, 0);
  --ligth-main: #464662;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-users-userformpagewrap {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 340px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.w-users-userresetpasswordformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformsuccessstate {
  display: none;
}

.w-users-userformheader {
  text-align: center;
}

.w-users-userformbutton {
  text-align: center;
  width: 100%;
}

.w-users-userformerrorstate {
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
}

.w-users-userupdatepasswordformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-useraccountwrapper {
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.w-users-blockheader {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 20px;
  display: flex;
}

.w-users-blockcontent {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  margin-bottom: 20px;
  padding: 20px;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-users-useraccountformsavebutton {
  text-align: center;
  margin-right: 8px;
}

.w-users-useraccountformcancelbutton {
  text-align: center;
  color: #333;
  background-color: #d3d3d3;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  background-color: #000;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.body {
  background-color: var(--white);
  color: var(--mainclr);
  height: 100vh;
  font-family: Bitter, serif;
  font-size: 16px;
  overflow: visible;
}

.header {
  background-color: var(--white);
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 7px 5%;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.logo {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Droid Serif, serif;
  font-size: 25px;
}

.left {
  color: var(--mainclr);
  flex-flow: row;
  flex: 0 auto;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-left: 0;
  margin-right: auto;
  padding: 5px;
  text-decoration: none;
  display: flex;
}

.image {
  margin-right: 10px;
}

.right {
  flex: 0 auto;
  order: 1;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
  padding: 5px;
  display: flex;
}

.mian-body {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
}

.language {
  grid-column-gap: 10px;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: auto;
  text-decoration: none;
  display: flex;
}

.text {
  color: var(--mainclr);
  letter-spacing: -.006em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-decoration: none;
}

.head-image {
  width: 20px;
}

.head-image._1 {
  margin-left: 20px;
}

.head-image._2 {
  width: 35px;
  margin-left: 20px;
  display: block;
}

.head-image._3 {
  width: 35px;
  margin-left: 20px;
}

.content {
  background-color: var(--light);
  justify-content: flex-end;
  align-items: flex-start;
  height: 100vh;
  display: flex;
}

.tab-content {
  background-color: var(--light);
  border-right: 1px solid #000;
  border-top-right-radius: 7px;
  width: 18%;
  height: 95vh;
  position: fixed;
  top: 60px;
}

.mian-content {
  width: 82%;
}

.tab {
  color: var(--black);
  justify-content: flex-start;
  align-items: center;
  padding: 12px 16px;
  text-decoration: none;
  transition: all .3s linear;
  display: flex;
}

.tab:hover {
  background-color: var(--dark);
  border-radius: 8px;
}

.menu-img {
  width: 25px;
}

.heading {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  padding-left: 15px;
  font-size: 15px;
  font-weight: 400;
}

.dash {
  justify-content: space-between;
  align-items: center;
  padding: 16px 35px;
  display: flex;
}

.titel {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 400;
}

.buttons {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  display: flex;
}

.button {
  background-color: var(--mainclr);
  border: 1px solid #000;
  border-radius: 8px;
  transition: background-color .25s linear;
}

.button:hover {
  border: 1px solid var(--dark);
  background-color: var(--white);
  color: var(--mainclr);
  border-radius: 8px;
}

.button2 {
  border: 1px solid var(--dark);
  background-color: var(--white);
  color: var(--black);
  border-radius: 8px;
  margin-left: 10px;
  transition: background-color .25s linear;
}

.button2:hover {
  border-color: var(--black);
  background-color: var(--mainclr);
  color: var(--white);
}

.hello {
  background-color: var(--white);
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  margin-left: 35px;
  margin-right: 35px;
  display: flex;
}

.hellomsg {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 16px;
  text-decoration: none;
  display: flex;
}

.text-2 {
  color: #0a0a0a;
  letter-spacing: -.011em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.text-3 {
  color: #616161;
  letter-spacing: -.006em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
}

.time {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  padding: 10px 16px;
  display: flex;
}

.punch-in {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-end;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  text-decoration: none;
  display: flex;
}

.date {
  grid-row-gap: 1px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.text-4 {
  color: #404040;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}

.text-5 {
  color: #616161;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.punch-out {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-end;
  text-decoration: none;
  display: flex;
}

.text-6 {
  color: #616161;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.tleave {
  grid-row-gap: 8px;
  border-right: 1px solid var(--dark);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 32px;
  text-decoration: none;
  display: flex;
}

.tleave.l {
  border-right-width: 0;
}

.text-7 {
  color: #404040;
  letter-spacing: -.011em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.text-8 {
  color: #146adc;
  letter-spacing: -.021em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  text-decoration: none;
}

.info {
  grid-column-gap: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.paid {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.text-9 {
  color: #9e9e9e;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.text-10 {
  color: #1158b7;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.text-11 {
  color: #d32940;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.text-12 {
  color: #404040;
  letter-spacing: -.011em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.text-13 {
  color: #9e9e9e;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.text-14 {
  color: #1158b7;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.text-15 {
  color: #d32940;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.text-16 {
  color: #404040;
  letter-spacing: -.011em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.text-17 {
  color: #9e9e9e;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.text-18 {
  color: #1158b7;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.text-19 {
  color: #d32940;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.text-20 {
  color: #404040;
  letter-spacing: -.011em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.text-21 {
  color: #9e9e9e;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.text-22 {
  color: #1158b7;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.text-23 {
  color: #d32940;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.todays-log-time {
  grid-row-gap: 16px;
  border-right: 1px solid var(--dark);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 125px;
  padding-right: 30px;
  display: flex;
}

.scheduled {
  grid-row-gap: 8px;
  background-color: #f5f5f5;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 8px 16px;
  text-decoration: none;
  display: flex;
}

.container-2 {
  grid-row-gap: 16px;
  background-color: #fff;
  border-radius: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 16px 32px;
  text-decoration: none;
  display: flex;
}

.text-27 {
  color: #0a0a0a;
  letter-spacing: -.011em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.long-container {
  grid-column-gap: 30px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-28 {
  color: #404040;
  letter-spacing: -.011em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.container-3 {
  grid-column-gap: 89px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-right: 0;
  text-decoration: none;
  display: flex;
}

.text-29 {
  color: #404040;
  letter-spacing: -.006em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-decoration: none;
}

.text-30 {
  color: #9e9e9e;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.this-month-log-time {
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.container-4 {
  grid-column-gap: 32px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.total {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 224px;
  text-decoration: none;
  display: flex;
}

.title {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 224px;
  text-decoration: none;
  display: flex;
}

.text-31 {
  color: #9e9e9e;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}

.text-32 {
  color: #404040;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}

.child-frame {
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.worked-time {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 216px;
  height: auto;
  text-decoration: none;
  display: flex;
}

.title-2 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 216px;
  text-decoration: none;
  display: flex;
}

.container-5 {
  grid-row-gap: 24px;
  background-color: #fff;
  border-radius: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 16px 32px;
  text-decoration: none;
  display: flex;
}

.text-33 {
  color: #0a0a0a;
  letter-spacing: -.011em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.table {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.table-cell {
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.label {
  grid-column-gap: 8px;
  background-color: #f5f5f5;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 12px;
  text-decoration: none;
  display: flex;
}

.label._1 {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.label._4 {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.label-2 {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  height: 18px;
  text-decoration: none;
  display: flex;
}

.label-3 {
  color: #0a0a0a;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.table-cell-2 {
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 42px;
  display: flex;
}

.label-4 {
  grid-column-gap: 8px;
  background-color: #fff;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 42px;
  padding: 12px;
  text-decoration: none;
  display: flex;
}

.dropdown-toggle {
  padding: 0;
  display: flex;
}

.icon {
  width: 16px;
  margin-right: 0;
  font-size: 20px;
  font-weight: 400;
  transform: rotate(0);
}

.icon._1 {
  width: 25px;
  transform: none;
}

.dropdown {
  width: 100%;
  padding: 12px 16px;
  transition: all .3s linear;
}

.dropdown:hover {
  background-color: var(--dark);
  border-radius: 8px;
}

.dropdown-list {
  z-index: 10;
  background-color: var(--dark);
  border: 1px solid #000;
  border-radius: 8px;
  position: relative;
}

.dropdown-list.w--open {
  z-index: 10;
  background-color: var(--light);
  margin-top: 15px;
}

.header-2 {
  grid-row-gap: 8px;
  background-color: #f5f5f5;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: none;
  padding: 16px 35px;
  text-decoration: none;
  display: flex;
}

.breadcrumbs {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.name-1 {
  color: #757575;
  letter-spacing: -.006em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
}

.name-2 {
  color: #212143;
  letter-spacing: -.006em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
}

.title-3 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-34 {
  color: #0a0a0a;
  letter-spacing: -.017em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
}

.down {
  border-radius: 3px;
  margin: 5px 10px;
  padding: 5px 10px;
}

.down:hover {
  background-color: var(--dark);
  border-radius: 8px;
}

.down._1 {
  color: var(--black);
  margin-top: 10px;
}

.down._1:hover {
  background-color: var(--dark);
}

.down._2 {
  margin-bottom: 10px;
}

.down._2.w--current {
  color: var(--black);
}

.container-6 {
  grid-row-gap: 24px;
  background-color: #fff;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 16px 32px;
  text-decoration: none;
  display: flex;
}

.frame-1935 {
  grid-column-gap: 24px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 516px;
  text-decoration: none;
  display: flex;
}
.employee-data
{
  width: 100%;
}

.input {
  background-color: #fff;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 44px;
  padding: 8px;
  display: flex;
}

.text-35 {
  grid-column-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
  display: flex;
}

.placeholder {
  color: #9e9e9e;
  letter-spacing: -.011em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.text-36 {
  color: #0a0a0a;
  letter-spacing: -.011em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.table-pagination {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.table-cell-3 {
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.label-5 {
  grid-column-gap: 8px;
  background-color: #f5f5f5;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 12px;
  text-decoration: none;
  display: flex;
}

.label-6 {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  height: 18px;
  text-decoration: none;
  display: flex;
}

.label-7 {
  color: #0a0a0a;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.component-3 {
  grid-column-gap: 8px;
  background-color: #f5f5f5;
  border: 0 solid #e0e0e0;
  border-left-width: 1px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 12px;
  text-decoration: none;
  display: flex;
}

.component-3._1 {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.component-3._2 {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 9px;
}

.table-cell-4 {
  flex: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 54px;
  display: flex;
}

.label-8 {
  grid-column-gap: 8px;
  background-color: #fff;
  justify-content: flex-start;
  align-items: center;
  width: 17.7632%;
  height: 54px;
  padding: 12px;
  text-decoration: none;
  display: flex;
}

.profile {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.ellipse-534 {
  object-fit: cover;
}

.text-37 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.label-9 {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  text-decoration: none;
  display: flex;
}

.tag-2 {
  grid-row-gap: 10px;
  background-color: #f0b732;
  border-radius: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  text-decoration: none;
  display: flex;
}

.text-38 {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.tag-name {
  color: #212143;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}

.tag-3 {
  grid-row-gap: 10px;
  background-color: #146adc;
  border-radius: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  text-decoration: none;
  display: flex;
}

.tag-name-2 {
  color: var(--black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}

.tag-4 {
  grid-row-gap: 10px;
  background-color: var(--dark);
  border-radius: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  text-decoration: none;
  display: flex;
}

.tag-name-3 {
  color: #404040;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}

.tag-5 {
  grid-row-gap: 10px;
  background-color: #0a7e22;
  border-radius: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  text-decoration: none;
  display: flex;
}

.pagination {
  grid-row-gap: 8px;
  background-color: #fff;
  border: 0 solid #e0e0e0;
  border-top-width: 1px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 8px 16px;
  text-decoration: none;
  display: flex;
}

.pagination-2 {
  grid-column-gap: 16px;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.previous-button {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.button-5 {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 8px;
  text-decoration: none;
  display: flex;
}

.text-39 {
  color: #616161;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.button-6 {
  background-color: #146adc;
  border-radius: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 8px;
  text-decoration: none;
  display: flex;
}

.text-40 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.input-page {
  grid-column-gap: 4px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.text-41 {
  color: #404040;
  text-align: center;
  letter-spacing: -.006em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
}

.button-7 {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  width: 50px;
  height: 32px;
  padding: 8px;
  text-decoration: none;
  display: flex;
}

.pages-amount {
  grid-column-gap: 4px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.pages-amount-2 {
  color: var(--black);
  text-align: center;
  letter-spacing: -.006em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
}

.main_form {
  z-index: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--light-black);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
}

.main_form.log {
  background-color: var(--trans);
  display: flex;
}

.form-block {
  width: 40%;
}

.form {
  background-color: var(--white);
  border-radius: 8px;
  padding: 32px;
}

.text-field {
  color: var(--black);
  border-radius: 8px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 18px;
}

.titel2 {
  margin-top: 5px;
  margin-bottom: 18px;
  font-weight: 400;
}

.div-block-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: space-between;
  align-items: center;
  justify-items: stretch;
  display: grid;
}

.gap {
  margin-top: 16px;
}

.text-block {
  margin-bottom: 10px;
  padding-bottom: 6px;
}

.paragraph {
  text-align: center;
}

.gradient-wrapper {
  z-index: -1;
  filter: blur(160px);
  min-height: 90vh;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.hidden-section {
  height: 50vh;
  display: none;
  position: relative;
}

.section-hero {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.circle {
  background-color: #fe3218;
  border-radius: 50%;
  width: 50vw;
  height: 80vh;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.circle._4 {
  background-color: #450eff;
  top: auto;
  bottom: -25%;
  left: auto;
  right: -10%;
}

.circle._3 {
  background-color: #e100f5;
  top: auto;
  bottom: -39%;
  left: -4%;
  right: auto;
}

.circle._2 {
  background-color: #ff911a;
  top: -25%;
  bottom: auto;
  left: auto;
  right: -10%;
}

.circle._1 {
  top: -25%;
  left: 1%;
}

@media screen and (max-width: 991px) {
  .gradient-wrapper {
    filter: blur(180px);
  }

  .circle {
    width: 80vw;
    height: 80vw;
  }
}

@media screen and (max-width: 767px) {
  .head-image._2 {
    display: block;
  }

  .head-image._3 {
    display: none;
  }

  .content {
    height: auto;
  }

  .tab-content {
    background-color: var(--white);
    width: auto;
    height: 100vh;
    display: block;
  }

  .mian-content {
    width: 100%;
  }

  .dash {
    grid-column-gap: 22px;
    grid-row-gap: 22px;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 14px 15px;
  }

  .hello {
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .tleave {
    margin-left: 16px;
  }

  .todays-log-time {
    border-bottom: 1px solid var(--dark);
    border-right-width: 0;
  }

  .container-2 {
    padding: 16px;
  }

  .long-container {
    grid-column-gap: 30px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    padding-top: 5px;
    padding-bottom: 5px;
    display: grid;
  }

  .container-5 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .label-3 {
    font-size: 11px;
  }

  .container-6 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .table-pagination {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    width: auto;
    padding-bottom: 8px;
    display: grid;
    overflow: hidden;
  }

  .label-8 {
    width: 100%;
  }

  .profile {
    flex-flow: column;
  }

  .text-37 {
    text-align: center;
  }

  .pagination {
    padding-top: 8px;
    padding-bottom: 8px;
    overflow: scroll;
  }

  .div-block {
    width: 100vw;
    display: none;
  }

  .main_form {
    display: none;
  }

  .form-block {
    width: 90%;
  }

  .circle {
    height: 80vh;
  }
}

@media screen and (max-width: 479px) {
  .logo {
    font-size: 20px;
    font-weight: 700;
  }

  .language {
    grid-column-gap: 7px;
  }

  .head-image._1 {
    width: 16px;
    margin-left: 5px;
  }

  .head-image._2 {
    width: 30px;
    margin-left: 5px;
  }

  .tab-content {
    display: block;
    top: 55px;
  }

  .dash {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .button {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
  }

  .button2 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .hello {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .tleave {
    border-bottom: 1px solid var(--dark);
    border-right-style: none;
    border-right-width: 0;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    margin: 0 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .tleave.l {
    border-bottom-style: none;
    border-right-style: none;
  }

  .info {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .todays-log-time {
    padding-right: 0;
  }

  .scheduled.l {
    display: none;
  }

  .long-container {
    grid-column-gap: 30px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    padding-top: 5px;
    padding-bottom: 5px;
    display: grid;
  }

  .container-4 {
    grid-column-gap: 18px;
  }

  .table {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .label-3 {
    margin-bottom: 0;
  }

  .label-4 {
    height: auto;
  }

  .header-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .title-3 {
    margin-top: 13px;
  }

  .text-34 {
    font-size: 18px;
  }

  .label-5, .component-3 {
    width: 70px;
  }

  .component-3._1 {
    justify-content: center;
    align-items: center;
  }

  .label-8 {
    justify-content: center;
    align-items: center;
    width: 70px;
  }

  .div-block {
    width: 100vw;
    display: block;
  }

  .titel2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_0952f713-2f4a-b703-78a3-82392e9c5be6-80f692fc, #w-node-_013a1b19-d8bf-cd49-014f-aa777efce962-7c1135d7 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_7ec55c42-d6cb-5355-2699-64937f0f4028-80f692fc, #w-node-_013a1b19-d8bf-cd49-014f-aa777efce9a7-7c1135d7 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


